<!DOCTYPE html>
<html>
<head>
    <title>Linear Equation Solver</title>
</head>
<body>
    <style> h1 { color: green; } </style>

    <h1>Linear Equation Solver</h1>
    <style> h3 { color: #eb9534; } </style>
    <h3>Example of a valid input:
    <br>Correct: 2*x + 3 - 7 (You must include the asterisk *)</br>
    </h1>
    <form action="/solve" method="POST">
        <label for="equation">Enter a linear equation (e.g., 2x + 3 = 7):</label>
        <input type="text" id="equation" name="equation" required>
        <button type="submit">Solve</button>
    </form>
</body>
</html>

